<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gomoku</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form id="configForm">
        <div id="content" style="display: block;">
            <div>
                <label for="rows">Rows (M):</label>
                <input type="number" id="rows" name="rows" min="3" value="8">
            </div>
            
            <div>
                <label for="cols">Columns (N):</label>
                <input type="number" id="cols" name="cols" min="3" value="8">
            </div>

            <div>
                <label for="winLength">Win Length (K):</label>
                <input type="number" id="winLength" name="winLength" min="3" value="5">
            </div>

            <div>
                <label for="adj"># Adjacent Grids:</label>
                <input type="number" id="adj" name="adj" min="0" value="2">
            </div>

            <div>
                <label for="player">Player:</label>
                <select id="player" name="player">
                    <option value="_RANDOM">_</option>
                    <option value="_ADP">_ADP</option>
                    <option value="_UCT">_UCT</option>
                    <option value="_UCT_ADJ">_UCT_ADJ</option>
                    <option value="_ALPHAZERO">_ALPHAZERO</option>
                    <!--
                        <option value="_UCT_PB">_UCT_PB</option>
                        <option value="_UCT_PB_ADJ">_UCT_PB_ADJ</option>
                        <option value="_UCT_UCB">_UCT_UCB</option>
                        <option value="_UCT_UCB_ADJ">_UCT_UCB_ADJ</option>
                        <option value="_UCT_UCB_PB">_UCT_UCB_PB</option>
                        <option value="_UCT_UCB_PB_ADJ">_UCT_UCB_PB_ADJ</option>
                        <option value="_UCT_ADP1_PB">_UCT_ADP1_PB</option>
                        <option value="_UCT_ADP1_PB_ADJ">_UCT_ADP1_PB_ADJ</option>
                        <option value="_UCT_ADP1_UCB">_UCT_ADP1_UCB</option>
                        <option value="_UCT_ADP1_UCB_ADJ">_UCT_ADP1_UCB_ADJ</option>
                        <option value="_UCT_ADP1_UCB_PB">_UCT_ADP1_UCB_PB</option>
                        <option value="_UCT_ADP1_UCB_PB_ADJ">_UCT_ADP1_UCB_PB_ADJ</option>
                    -->
                </select>
            </div>

            <div>
                <label for="you">You:</label>
                <select id="you" name="you">
                    <option value="_HUMAN">_HUMAN</option>
                    <option value="_RANDOM">_RANDOM</option>
                    <option value="_ADP">_ADP</option>
                    <option value="_ALPHAZERO">_ALPHAZERO</option>
                </select>
            </div>
            <button type="button" onclick="startGame()">Start Game</button>
        </div>
    </form>

    <div id="game">
        <div id="board"></div>
        <div id="message"></div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>